.header-color{
  background-color: green;
}
.header-color-2{
  background-color: #046c04;
}
.header-color-2 a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 20px;
  
  
}
.nav-m a{
padding: 0px;
}
.header-color-2 a:hover{
  color: rgb(255, 200, 0);
  /* background-color: green; */
}
.logo{
  font-size: 40px;
  padding: 0px;
  color: rgb(255, 225, 0);
}
.margin-set{
  margin: 0px;
  padding: 0px;
}
.left-site{
  position: sticky;
  top: 0px;
}
.course-title{
  color: black;
  border-bottom: 2px solid green;
  padding: 10px 0px;
}
.left-site-ul{
  list-style: none;
}
.left-site-ul li{
  /* background-color: orangered; */
  /* margin: 20px 0px; */
  
}
.left-site-ul li a{
  display: block;
  /* background-color: rgb(161, 224, 161); */
  /* padding: 20px 0px; */
  color: green;
  font-size: 20px;
  text-transform: capitalize;
text-decoration: none;
}
.left-site-ul li a:hover{
  color: black;
}
.but-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.single-card-title{
  /* border-bottom: 2px solid #046c04; */
}
.download-btn{
  background-color: #046c04;
  width: 170px;
  height: 40px;
  border: none;
  color: white;
  border-radius: 10px;
  transition: 0.3s;
}
.download-btn:hover{
  background-color: blue;
}


@media only screen and (max-width: 600px) {
  /* .left-site-ul li a{
    margin: 0px;
  } */
 
}